* {
  margin: 0;
  padding: 0;
}

.nav1 {
  background-color: #15223b;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav1 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 20px;
  font-size: 50px;
  color: #ffffff;
}
.line1 {
  color: cyan;
}
a {
  text-decoration: none;
  padding-right: 40px;
  color: #ffffff;
  font-size: 18px;
}
.body {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  text-align: center;
}
table {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  text-align: center;
}
thead,
th,
td {
  font-size: 25px;
  border: 3px solid black;
  text-align: center;
  padding: 5px 15px;
}
.footer {
  display: flex;
  margin-top: 20px;
  color: cornsilk;
  background-color: #15223b;
  padding-left: 50px;

  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.links {
  width: 100%;
  background-color: #15223b;
}
